<section style="margin-top:2em;">
	<div class="wrap">
		<div class="home-meet-us">
			<h3>Meet Us<br />Nov. 8/9 in Washington, D.C.</h3>
			<a href="#eventbrite-url" class="btn">Register Here Now</a>
		</div>
		<a href="#submit-idea" class="btn idea">Submit an Idea</a>
		<a href="#take-pledge" class="btn pledge">Take the Pledge</a>
	</div>
</section>