<div class="slider-politics">
	<img src="assets/sliders/reboot-politics-1.png" width="238px" height="238px" >
	<h4>Reboot: America</h4>
	<p>The U.S. fiscal gap over the next two generation is unsustainable. Estimates in today’s dollars range between $350,000 and $1.7 million for each household in America.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-politics -->

<div class="slider-politics">
	<img src="assets/sliders/reboot-politics-2.png" width="238px" height="238px" >
	<h4>Reboot: Politics</h4>
	<p>The 2012 elections will cost almost $6 billion, or almost twice what the 2000 elections cost. America spends around 23 times as much per person at the British spend on their general elections.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-politics -->




<div class="slider-health">
	<img src="assets/sliders/reboot-health-1.png" width="238px" height="238px" >
	<h4>Reboot: Health</h4>
	<p>Japan has the best health outcomes of any major economy, but they spend one-third of what we do per person.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-health -->

<div class="slider-health">
	<img src="assets/sliders/reboot-health-3.png" width="238px" height="238px" >
	<h4>Reboot: Health</h4>
	<p>America ranks near the bottom of major economies in health outcomes, but we spend 50% more than the next highest country.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-health -->


<div class="slider-health">
	<img src="assets/sliders/reboot-health-2.png" width="238px" height="238px" >
	<h4>Reboot: Health</h4>
	<p>The French health care system treats lung disease far more effectively than the American system, with levels of severity and fatality three times lower than those in America. Yet the French spend eight times less on treatment per person than the U.S. system.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-health -->




<div class="slider-education">
	<img src="assets/sliders/reboot-education-1.png" width="238px" height="238px" >
	<h4>Reboot: Education</h4>
	<p>America ranks dead-in-the-middle of major economies in student performance, but we spend more per student than any other country.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-education -->


<div class="slider-education">
	<img src="assets/sliders/reboot-education-2.png" width="238px" height="238px" >
	<h4>Reboot: Education</h4>
	<p>Poland has about the same level of student performance as America, but they spend one-third what we do per student.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-education -->


<div class="slider-education">
	<img src="assets/sliders/reboot-education-3.png" width="238px" height="238px" >
	<h4>Reboot: Education</h4>
	<p>South Korea has the best performance of any major economy in student performance. They spend half what America does per student.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-education -->

<div class="slider-education">
	<img src="assets/sliders/reboot-education-4.png" width="238px" height="238px" >
	<h4>Reboot: Education</h4>
	<p>About 54% of bachelor’s degree holders under the age of 25 are jobless or working in a job that doesn’t require a bachelor’s degree. Meanwhile, the average student graduates from college with over $25,000 in student loan debt.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-education -->





<div class="slider-energy">
	<img src="assets/sliders/reboot-energy-1.png" width="238px" height="238px" >
	<h4>Reboot: Energy</h4>
	<p>Around 58% of the total energy produced in the US is wasted due to energy inefficiencies from power plants, vehicles, and light bulbs. Meanwhile, just 1.2% of our total energy production comes from sustainable sources such as solar, wind, and geothermal.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-energy -->




<div class="slider-america">
	<img src="assets/sliders/reboot-america-1.png" width="238px" height="238px" >
	<h4>Reboot: America</h4>
	<p>One in four veterans of our recent wars in Iraq and Afghanistan are unemployed.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-energy -->



<div class="slider-government">
	<img src="assets/sliders/reboot-government-1.png" width="238px" height="238px" >
	<h4>Reboot: Government</h4>
	<p>The Federal Information Technology Budget has grown from around $30 billion in 2002 to nearly $80 billion in 2012.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-government -->



<div class="slider-security">
	<img src="assets/sliders/reboot-security-1.png" width="238px" height="238px" >
	<h4>Reboot: Security</h4>
	<p>Without including “black” budgets, the military has wasted more than $100 billion since the end of the Cold War on the development of weapons systems that were cancelled without ever being used.</p>
	<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
</div><!-- end .slider-security -->
