<div class="wrap internal">
	<h2>Get Involved</h2>
	<div class="half">
		<p>America faces profound crises in critical areas of our society. The future of our country depends on our generation’s ability to find bold, new solutions to these problems. Whether you’re a citizen, an entrepreneur, or a corporate executive, you can play an important part in the Reboot America movement—whether by submitting an idea, discussing and supporting ideas, attending an event, or pledging your company’s support to Reboot America.</p>
		<p>If you have an idea for reinventing America—whether a simple concept or an already growing startup—then submit your idea at Patriotic.ly, a virtual think tank for citizen innovators. Citizens across America can come to Patriotic.ly to support and discuss the ideas with the greatest potential to fix our national crises. Through crowdsourcing and competitions, we can identify the solutions that we must rally behind as a country.</p>

	</div>

	<div class="half">
		<p>If you want to come together in person to Reboot America, then attend the Reboot America Summit on November 8 and 9, 2012 in Washington, DC. The Reboot America Summit will highlight some of the most innovative new startups tackling our country’s greatest challenges, as identified by the American people through Patriotic.ly. Citizens, entrepreneurs, and corporate executives are encouraged to come to join us. </p>
		<p>Finally, if you’re a corporate executive, then pledge your company’s dedication to Reboot America by issuing the Reboot America pledge. The Reboot America pledge commits your organization to identify a “startup liaison officer” to work with innovative startups with compelling ideas for reinventing our country as well as having your leadership attend key Reboot America events.</p>
	</div>
</div>