<div class="wrap internal">
	<h2>Get Inspired</h2>
	
	<h3 class="intro">Reboot America brings together corporations and startups to innovate in key industries vital for the public good. Why? Because the capacity of our entrepreneurs to drive breathtaking innovation has been proven time and time again. </h3>

	<div class="half inspired">
		<p><strong>Over the past decade, entrepreneurs have radically improved our lives as consumers.</strong></p>
		<p>Over the past decade, our lives as consumers have changed in almost inconceivable ways because of groundbreaking startup innovation.</p>
		<p>Just think about how different life was back in 2002—Google was a small startup with a nifty search algorithm but had no idea how to make money. Steve Jobs was saving Apple with candy colored notebook computers. Wikipedia had a handful of entries. Mark Zuckerberg was a 17 year old coding prodigy. You couldn’t follow information around the globe in real time with Twitter. You were tethered to your living room sofa and the networks’ schedules because there was no Netflix or Hulu or DVR. Amazon.com was a place some people went to buy books online and had dismal prospects for success.</p>
		<p>Now these are the companies that dominate our world. They enable us to connect to people and information anytime, anywhere. They disrupted the traditional relationship between producers and consumers and we are each infinitely more powerful as individuals because of it.</p>
	</div>

	<div class="half inspired">
		<p ><strong>In the next decade, entrepreneurs must focus on reinventing our lives as citizens.</strong></p>
		<p>Just as startups focused on our consumer-driven lives in the last decade, startup innovation must focus on improving our lives as citizens in the next decade. Our public challenges keep growing by the day, from our public debt crisis to our under-performing education system, and solutions to these crises are essential to our country’s future success.</p>
		<p>It is time to rethink and reinvent how we educate our children, how we manage our health, how we produce and consume energy in a sustainable way, how we elect our leaders and hold them accountable to our needs as citizens, and how government can provide cost-effective solutions that provide for our national welfare and security.</p>
		<p>Reboot America brings the corporate and startup worlds together in these key industry areas to solve America’s greatest challenges. Get inspired and then get involved.</p>
	</div>

	<div class="patrioticly-icons">
		<ul class="icon-list">
			<li>
				<a href="http://www.patriotic.ly/Page/GrandChallenges/Government?idea_field_0=Government&amp;tag_name=GovernmentBlog">
					<img src="assets/icons/government.png" />
					<h4>Government</h4>
				</a>
				<p>How can government better serve citizens in a more open, colaborative, and participatory way?</p>
			</li>	

			<li>
				<a href="http://www.patriotic.ly/Page/GrandChallenges/Securitygc?idea_field_0=Security&amp;tag_name=SecurityBlog">
					<img src="assets/icons/security.png" />
					<h4>Security</h4>
				</a>
					<p>How can homeland and national security be more agile and innovative while also reducing costs?</p>
			</li>	

			<li>
				<a href="http://www.patriotic.ly/Page/GrandChallenges/Politics?idea_field_0=Politics&amp;tag_name=PoliticsBlog">
					<img src="assets/icons/politics.png" />
					<h4>Politics</h4>
				</a>
				<p>How can we bring campaigns, elections, and the political process into the 21<sup>st</sup> century?</p>
			</li>	

			<li>
				<a href="http://www.patriotic.ly/Page/GrandChallenges/Advocacy?idea_field_0=Advocacy&amp;tag_name=AdvocacyBlog">
					<img src="assets/icons/advocacy.png" />
					<h4>Advocacy</h4>
				</a>
				<p>In an age of digital, social, and  mobile media, how can citizens creatively advocate for what they believe?</p>
			</li>	

			<li>
				<a href="http://www.patriotic.ly/Page/GrandChallenges/Education?idea_field_0=Education&amp;tag_name=EducationBlog">
					<img src="assets/icons/education.png" />
					<h4>Education</h4>
				</a>
				<p>How can education be reimagined as seamless lifetime learning for every person, inside and outside the classroom?</p>
			</li>	

			<li>
				<a href="http://www.patriotic.ly/Page/GrandChallenges/Health?idea_field_0=Health&amp;tag_name=HealthBlog">
					<img src="assets/icons/health.png" />
					<h4>Health</h4>
				</a>
				<p>How can people better understand their fitness and be proactively engaged in managing the health of themselves and their families?</p>
			</li>	

			<li>
				<a href="http://www.patriotic.ly/Page/GrandChallenges/Energy?idea_field_0=Energy&amp;tag_name=EnergyBlog">
					<img src="assets/icons/energy.png" />
					<h4>Energy</h4>
				</a>
				<p>How can people modify their behavior to consume energy more efficiently without sacrificing performance?</p>
			</li>	
		</ul>
	</div><!-- end .patrioticly-icons -->
</div>