<div class="wrap internal">
	<h2>Get Involved</h2>
	<h3 class="intro">America faces profound crises in critical areas of our society. The future of our country depends on our generation’s ability to find bold, new solutions to these problems.</h3>
	<p class="intro">Whether you’re a citizen, an entrepreneur, or a corporate executive, you can play an important part in the Reboot America movement — by submitting an idea, discussing and supporting ideas, attending an event, or pledging your company’s support to Reboot America.</p>

	<ul class="audience-groups">
			<li>
				<img src="assets/citizen.png" width="120px" height="120px" />
				<p style="width: 710px;">If you’re <strong>a citizen</strong>, make your voice heard via Patriotic.ly, a virtual think tank for citizen innovators. Submit your ideas, discuss ideas, and vote on the best, so that we can highlight and support them!</p>
				<a href="http://patriotic.ly" class="btn alternate">Get Inspired<span>Pitch in with your ideas</span></a>
				<div style="clear:both;"></div>
			</li>

			<li>
				<img src="assets/startup.png" width="120px" height="120px" />
				<p style="width: 710px;">If you’re <strong>an emerging startup</strong>, apply to pitch your idea at the Reboot America Summit to connect with established corporations with the reach to accelerate your idea forward. You may find your first customer, a key partner, an acquirer, or competitor.</p>
				<a href="http://patriotic.ly" class="btn alternate">Join the community<span>Pitch your idea on Patriotic.ly</span></a>
				<div style="clear:both;"></div>
			</li>

			<li>
				<img src="assets/corporation.png" width="120px" height="120px" />
				<p style="width: 710px;">If you’re <strong>an established American corporation</strong>, attend the Reboot America Summit to learn about the ideas and energy  of entrepreneurs passionate about reinventing our country. You may find your next great partner, acquisition, or competitor, enabling you to stay agile and competitive. You can also become a partner by funding a startup pitch competition prize at the Reboot America Summit. </p>
				<a href="http://patriotic.ly" class="btn alternate">Become a partner<span>Partnerships bring growth</span></a>
				<div style="clear:both;"></div>
			</li>

		</ul>
</div>