<div class="wrap internal">
	<h2>Get Inspired</h2>
	<div class="half">
		<p>Thank about what our daily lives were like as we entered the new millennium, barely more than 12 years ago. The .com bubble had crashed and the promise of the Internet had collapsed along with it. Google was still a small startup with a nifty search algorithm and no idea how to make money. Steve Jobs was still trying to save Apple with candy colored notebook computers. There were no iTunes, iPods, iPhones, or iPads. Wikipedia had a handful of entries. Mark Zuckerberg was a 16 year old coding prodigy and you couldn’t connect with anyone, anywhere with Facebook. You couldn’t follow information around the globe in real time with Twitter. You were tethered to your living room sofa and the networks schedule because there was no Netflix or Hulu. Amazon.com a place you went to buy books online with dismal prospects for success.</p>
		<p>In 12 years, our lives as consumers have changed in almost inconceivable ways. Our ability to connect to people and information anywhere, anytime has overturned the traditional relationship between producers and consumers, making each of us infinitely more powerful as individuals.</p>
	</div>

	<div class="half">
		<p>Now think about what our lives our like today. Our economy collapsed and our much of our belief that our system is working along with it. We face profound crises in critical areas. Under almost any plausible forecast, our public sector is awash in red ink as far forward as we can see.  We have to rethink and reinvent how we educate our children, manage our health, produce and consume energy in a sustainable way, elect our leaders and hold them accountable to our needs as citizens, and reinvent a government that can provide cost-effective solutions that provide for our national welfare and security.</p>
		<p>In moments of supreme crisis, two things have always saved America. One is our ability to rally together as a people, regardless of the factions that divide us. The other is the capacity of our entrepreneurs to drive breathtaking innovation. The past decade has seen entrepreneurs radically improve our lives as consumers. The next decade must focus on entrepreneurs on reinventing our lives as citizens.</p>
		<p>Reboot America is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges. Get inspired and then get involved.</p>
	</div>
</div>