
<section id="what-is-reboot">
	<div class="wrap">
		<img src="assets/reboot-glyph.png" width="130px" height="130px"/>
		<h2><strong>Reboot America</strong> is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</h2>
	</div>
</section>

<section id="stats-slider">
	<div class="wrap">
		<div id="slider-politics">
			<img src="assets/sliders/reboot-politics.png" width="238px" height="238px" >
			<h4>Reboot: Politics</h4>
			<p>The 2012 elections will cost almost $6 billion, or almost twice what the 2000 elections cost. America spends around 23 times as much per person at the British spend on their general elections.</p>
			<a href="/get-inspired" class="btn alternate">Get Inspired &rarr;</a>
		</div>
	</div>
</section>	
