<header id="reboot-problems">
	<div class="wrap">
		<p>We're surrounded by problems:</p>
	</div>
</header>

<section id="home-event-highlight">
	<div class="wrap">
		<div class="event-register">
			<h3>Nov. 8<sup>th</sup> &amp; 9<sup>th</sup><br />Washington, D.C.</h3>
			<a href="#eventbrite-url" class="btn">Register Now</a>
		</div>

		<div class="event-copy">
			<h2>Event Copy Headline</h2>
			<p>This is where Event info will go.<p>
		</div>
	</div>
</section>

<section id="home-democracy">
	<div class="wrap">
		<div class="reboot-copy">
			<h2>Reboot <em>Democracy</em></h2>
			<p>Few areas have experienced more change over the past decade than media, advocacy and politics. The landscape has been forever altered by rapid technological advances and drastic changes in how we communicate, organize and govern. All of these factors are crucial to a vibrant democracy.</p>
			<a href="#" class="btn read-more">Read More about Reboot Democracy</a>
		</div>
	</div>
</section>	

<section id="home-national-challenges">
	<div class="wrap">
		<div class="reboot-copy">
			<h2>Reboot <em>National Challenges</em></h2>
			<p>As a nation, we face tremendous challenges in nearly every sector that is critical to our society. Reboot America will bring together leaders in education, healthcare, energy and international development to explore new ways to overcome these challenges. By combining the Washington area's expertise in these areas with the fresh ideas of entrepreneurs and other original thinkers, we can begin to put the pieces in place to boost renewable energy production, improve healthcare outcomes, jumpstart creative education initiatives and protect America's economic competitiveness.</p>
			<a href="#" class="btn read-more">Read More about Reboot National Challenges</a>
		</div>
	</div>
</section>	

<section id="home-government">
	<div class="wrap">
		<div class="reboot-copy">
			<h2>Reboot <em>Government</em></h2>
			<p>The worst economy in decades. Rampant waste. Growing threats to critical infrastructure. At every level, the American government is in dire need of some creative reinforcements. Federal, state and local governments can greatly benefit from the input of private sector pioneers. At the same time, young firms and entrepreneurs can learn a great deal from the experiences of government leaders.</p>
			<a href="#" class="btn read-more">Read More about Reboot Government</a>
		</div>
	</div>
</section>	

<section id="home-what-is-reboot">
	<div class="wrap">

		<h2>What is Reboot America?</h2>
		<div class="half">
			<p>Reboot America is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</p>
			<p>America faces profound crises in critical areas—educating our children, managing our health, producing and consuming energy in a sustainable way, electing our leaders and holding them accountable to the needs of citizens, and reinventing a government that can provide cost-effective solutions that provide for our national welfare and security.</p>
		</div>
		<div class="half omega">
			<p>The future of America depends on our generation’s ability to find bold, new solutions to these problems. Reboot America is building a community of citizens, entrepreneurs, and corporate executives committed to aligning their organizations around the solutions that will determine the future of our country.</p>
		</div>
		<a href="#" class="btn read-more">Read More about Reboot America</a>
	</div>
</section>

<section style="margin-top:2em;">
	<div class="wrap">
		<div class="home-meet-us">
			<h3>Meet Us<br />Nov. 8/9 in Washington, D.C.</h3>
			<a href="#eventbrite-url" class="btn">Register Here Now</a>
		</div>
		<a href="#submit-idea" class="btn idea">Submit an Idea</a>
		<a href="#take-pledge" class="btn pledge">Take the Pledge</a>
	</div>
</section>