<section id="featured-speakers-home">
	<div class="wrap">
		<div class="speaker-box">
			<img src="assets/speakers/steve_case.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Steve Case</p>
		</div>

		<div class="speaker-box">
			<img src="assets/leaders/aneesh.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Aneesh Chopra</p>
		</div>

		<div class="speaker-box">
			<img src="assets/leaders/blake.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Blake Hall</p>
		</div>

		<div class="speaker-box">
			<img src="assets/speakers/marci_harris.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Marci Harris</p>
		</div>

		<div class="speaker-box">
			<img src="assets/speakers/alex_howard.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Alex Howard</p>
		</div>

		<div class="speaker-box">
			<img src="assets/speakers/david_girouard.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">David Griouard</p>
		</div>

		<div class="speaker-box">
			<img src="assets/speakers/kahil_byrd.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Kahlil Byrd</p>
		</div>

		<div class="speaker-box">
			<img src="assets/leaders/peter.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Peter Cherukuri</p>
		</div>

		<div class="speaker-box">
			<img src="assets/leaders/nathan.jpg" width="50px" height="50px" />
			<p class="speaker-box-details">Nathan Daschle</p>
		</div>

		<h3><a href="/speakers">Featured Speakers &rarr;</a></h3>
	</div>	
</section>

<section id="what-is-reboot">
	<div class="wrap">
		<img src="assets/reboot-glyph.png" width="130px" height="130px"/>
		<h2><strong>Reboot America</strong> is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</h2>
	</div>

</section>

<section id="reboot-video">
	<div class="wrap">
		<iframe width="853" height="480" src="http://www.youtube.com/embed/XpVsMf1VKK0?rel=0" frameborder="0" allowfullscreen class="trailer"></iframe>
	</div>
</section>

<section id="stats-slider">
	<div class="wrap">

		<div id="slider">
			<%= render 'slider_images' %>
		</div><!-- end #slider -->
	</div>
</section>	
