
<section id="what-is-reboot">
	<div class="wrap">
		<img src="assets/reboot-glyph.png" width="130px" height="130px"/>
		<h2><strong>Reboot America</strong> is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</h2>
	</div>
</section>

<section id="stats-slider">
	
</section>	
