<header>
	This is where problems go.
</header>
<section id="home-event-highlight">
	<div class="event-register">
		<h3>Nov. 8/9<br />Washington, D.C.</h3>
		<a href="#eventbrite-url">Register Now</a>
	</div>

	<h2>Event Copy Headline</h2>
	<p>This is where Event info will go.<p>
</section>

<section id="home-democracy">
	<h2>Reboot Democracy</h2>
	<p>Ribeatibus abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped.</p>
	<a href="#" class="read-more">Read More about Reboot Democracy</a>
</section>	

<section id="home-national-challenges">
	<h2>Reboot National Challenges</h2>
	<p>Ribeatibus abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped.</p>
	<a href="#" class="read-more">Read More about Reboot National Challenges</a>
</section>	

<section id="home-government">
	<h2>Reboot Government</h2>
	<p>Ribeatibus abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped.</p>
	<a href="#" class="read-more">Read More about Reboot Government</a>
</section>	

<section id="home-what-is-reboot">
	<h2>What is Reboot America?</h2>
	<p>Ribeatibus abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped abore vendunt estibus am ex et quas ea vit, que laboribus, officti usapis doluptae dis non custionseni niam nonesto taturibus aturiore nis et omni dellaboris reped.</p>
	<a href="#" class="read-more">Read More about Reboot America</a>
	<div class="home-meet-us">
		<h3>Meet Us<br />Nov. 8/9 in Washington, D.C.</h3>
		<a href="#eventbrite-url">Register</a>
	</div>
	<a href="#submit-idea">Submit an Idea</a>
	<a href="#take-pledge">Take the Pledge</a>
</section>	