<header id="reboot-problems">
	<div class="wrap">
		<h3>We're surrounded by problems:</h3>
		<p>Estimates of the U.S. fiscal gap over the next two generations are as high as $1.7 million per household. But don’t worry… most estimates are only $350,000 per household (Various Source). Of course, the average American household has around $100,000 in savings including their retirement accounts.<p>
	</div>
</header>

<section id="home-event-highlight">
	<div class="wrap">
		<div class="event-register">
			<h3>Nov. 8<sup>th</sup> &amp; 9<sup>th</sup><br />Washington, D.C.</h3>
			<a href="#eventbrite-url" class="btn">Register Now</a>
		</div>

		<div class="event-copy">
			<h2>Come to the <br />Reboot America Summit</h2>
			<p>This two-day summit will aim to (1) drive competitiveness for our leading corporations by connecting them with the cutting edge of innovation via startups; (2) connect entrepreneurs with corporations that can serve as a first customer, key strategic partner, or acquirer; (3) inform policymakers about the potential of entrepreneurship to provide transformative solutions; and (4) create next generation jobs in areas of national importance.<p>
		</div>
	</div>
</section>


<section id="home-what-is-reboot">
	<div class="wrap">
		<div class="half">
			<h2>What is Reboot?</h2>
			<p>Reboot America is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</p>
			<p>America faces profound crises in critical areas—educating our children, managing our health, producing and consuming energy in a sustainable way, electing our leaders and holding them accountable to the needs of citizens, and reinventing a government that can provide cost-effective solutions that provide for our national welfare and security.</p>

			<p>The future of America depends on our generation’s ability to find bold, new solutions to these problems. Reboot America is building a community of citizens, entrepreneurs, and corporate executives committed to aligning their organizations around the solutions that will determine the future of our country.</p>
			<a href="/what-is" class="btn read-more">Why should I join Reboot?</a>
		</div>
		<div class="half omega">
			<div id="home-democracy">
				<h3><a href="/get-inspired#democracy">Reboot <em>Democracy</em> &rarr;</a></h3>
				<p>Few areas have experienced more change over the past decade than media, advocacy and politics. The landscape has been forever altered by rapid technological advances and drastic changes in how we communicate, organize and govern. All of these factors are crucial to a vibrant democracy.</p>
			</div>

			<div id="home-challenges">
				<h3><a href="#">Reboot <em>National Challenges</em> &rarr;</a></h3>
				<p>As a nation, we face tremendous challenges in nearly every sector that is critical to our society. Reboot America will bring together leaders in education, healthcare, energy and international development to explore new ways to overcome these challenges.</p>
			</div>


			<div id="home-government">
				<h3><a href="#">Reboot <em>Government</em> &rarr;</a></h3>
				<p>The worst economy in decades. Rampant waste. Growing threats to critical infrastructure. At every level, the American government is in dire need of some creative reinforcements. Federal, state and local governments can greatly benefit from the input of private sector pioneers.</p>
			</div>

		</div>	
	</div>
</section>

<% render 'home_extra' %>
