<section id="featured-speakers-home">
	<div class="wrap">
		<div style="text-align:right; display:inline-block; width:490px; margin-right:3em;">
			<div class="speaker-box">
				<img src="assets/speakers/steve_case.jpg" width="50px" height="50px" />
				<p class="speaker-box-details">Steve Case</p>
			</div>

			<h3>Featured Speaker: Steve Case</h3>
		</div>

		<a href="/speakers" class="btn " style="display:inline-block;vertical-align:top;">See More Speakers</a>
	</div>	
</section>

<section id="what-is-reboot">
	<div class="wrap">
		<img src="assets/reboot-glyph.png" width="130px" height="130px"/>
		<h2><strong>Reboot America</strong> is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</h2>
	</div>

</section>

<section id="reboot-video">
	<div class="wrap">
		<div id="trailer">
			<iframe width="640" height="360" src="http://www.youtube.com/embed/XpVsMf1VKK0?rel=0" frameborder="0" allowfullscreen class="trailer"></iframe>
		</div>
	</div>
</section>

<section id="stats-slider">
	<div class="wrap">

		<div id="slider">
			<%= render 'slider_images' %>
		</div><!-- end #slider -->
	</div>
</section>	
