<div class="wrap internal">
	<h2>Meet Us</h2>
	<div class="half">
		<p>AReboot America is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges. We are building a community of citizens, entrepreneurs, and corporate executives dedicated to reinventing America.</p>
		<p>There are many ways to get involved, from submitting your idea or startup pitch at Patriotic.ly, to having your company sign the Reboot America Pledge. One of the most important, however, is attending a Reboot America event.
		If you want to come together in person to Reboot America, then attend the Reboot America Summit on November 8 and 9, 2012 in Washington, DC. The Reboot America Summit will highlight some of the most innovative new startups tackling our country’s greatest challenges, as identified by the American people through Patriotic.ly. Citizens, entrepreneurs, and corporate executives are encouraged to come to join us. </p>
		<p>Following the Summit, Reboot America will be holding a series of meetups across the country, focused on different themes coming from the Summit. Come back regularly for updates on meetups near you.</p>

</div>