<div class="wrap internal">
	<h2>Meet Us</h2>
	<div class="half">
		<p>Reboot America is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges. We are building a community of citizens, entrepreneurs, and corporate executives dedicated to reinventing America.</p>
		<p>There are many ways to get involved, from <a href="http://nationalpiggybank.org/">submitting your idea or startup pitch at Patriotic.ly</a>, to having your company <a href="#">sign the Reboot America Pledge</a>.</p>
		<p>One of the most important, however, is <a href="#eventbrite-url">attending a Reboot America event</a>.</p>
		<p>If you want to come together in person to Reboot America, then attend the Reboot America Summit on November 8 and 9, 2012 in Washington, DC. The Reboot America Summit will highlight some of the most innovative new startups tackling our country’s greatest challenges, as identified by the American people through Patriotic.ly. Citizens, entrepreneurs, and corporate executives are encouraged to come to join us. </p>
		<p>Following the Summit, Reboot America will be holding a series of meetups across the country, focused on different themes coming from the Summit. Come back regularly for updates on meetups near you.</p>
	</div>
</div>

	<section id="home-event-highlight">
		<div class="wrap">
			<div class="event-register">
				<h3>Nov. 8<sup>th</sup> &amp; 9<sup>th</sup><br />Washington, D.C.</h3>
				<a href="#eventbrite-url" class="btn">Register Now</a>
			</div>

			<div class="event-copy">
				<h2>Come to the <br />Reboot America Summit</h2>
				<p>This two-day summit will aim to (1) drive competitiveness for our leading corporations by connecting them with the cutting edge of innovation via startups; (2) connect entrepreneurs with corporations that can serve as a first customer, key strategic partner, or acquirer; (3) inform policymakers about the potential of entrepreneurship to provide transformative solutions; and (4) create next generation jobs in areas of national importance.<p>
			</div>
		</div>
	</section>