<div class="wrap internal">
	<h2>What is Patriotc.ly?</h2>
	<h3 class="intro">Patriotic.ly is a digital think-and-act tank for reinventing America that allows users to post ideas for companies, pitch their startup, and vote and comment on others' ideas. Reboot America is accepting all applications for the Startup Pitch Showcase and Open Innovation Series through Patriotic.ly. </h3>
	<p class="intro">What’s your best idea for reinventing education, health, energy, politics, or government? Reboot America is providing America’s next generation of thinkers, makers, and innovations with the opportunity to compete in front of America’s leading corporations, investors, and media.</p>

	<div class="patrioticly-content">
		<p><strong>The Startup Pitch Competition is open to startups that meet the following criteria:</strong></p>

	 	<ul class="red-bullet">
			<li>Startup less than three-years since founding</li>
			<li>Raised more than $250,000 in investor capital <br />or generated more than $500,000 in revenue over the past 12 months</li>
			<li>Relevant to a major civic challenge facing our country</li>
		</ul>

		<p style="margin-bottom:2em;">We’ll select the hottest startups as voted on by citizens at Patriotic.ly. Finalists will be invited to come to Washington, DC to compete in front of top executives at America’s leading corporations. Winners will receive prize money and media recognition as America’s next big thing.</p>

		<p><strong>Are you just getting started with your great idea to change America? The Open Innovation Competition is open to anyone with a big idea to change the country, including:</strong></p>
		
		<ul class="blue-bullet">
				<li>A startup founder just getting started</li>
				<li>An executive at a corporation with a new initiative</li>
				<li>A citizen passionate about a new way to do things</li>
		</ul>

		<p style="margin-bottom:2em;">We'll select the hottest startups and ideas as voted on by citizens at Patriotic.ly and invite you to the Reboot America Summit in Washington, DC to pitch your idea in front of top executives at America's leading corporations.</p>
		<a href="http://www.patriotic.ly/Page/InnovationMarket" class="btn alternate" target="_blank">Apply to pitch<span>via Patriotic.ly</span></a>
	</div>
</div>