<div class="wrap internal" id="summit-speakers">
	<h2>2012 Summit Speakers</h2>

	<ul class="keynote-speakers">
		<li>
			<img src="assets/speakers/steve_case.jpg" />
			<div class="speaker-detail">
				<h4>Steve Case</h4>
				<h5>Chairman and CEO, Revolution<br />
						Co-Founder, America Online<br />
						Chairman, The Case Foundation</h5>
					<p>Steve Case is one of America’s best-known and most accomplished entrepreneurs and philanthropists, and a pioneer in making the Internet part of everyday life.</p>
					<a href="#" id="read-more-steve">Read More</a>
					<div id="more-steve">
						<p>Steve co-founded America Online (AOL) in 1985, when the Internet was in its infancy. Under Steve’s leadership, AOL became the world’s largest and most valuable Internet company, and helped drive the worldwide adoption of a medium that has transformed business and society.  </p>
						<p>Steve then went back to his entrepreneurial roots and founded Revolution, an investment firm that has backed more than two dozen companies, including LivingSocial, Zipcar, AddThis, Everyday Health and FedBid.  </p>
						<p>Steve is also Chairman of the Case Foundation, which he established with his wife Jean.  The Case Foundation has invested in hundreds of organizations, initiatives and partnerships over the past 15 years.  Steve and Jean joined The Giving Pledge, started by Bill Gates and Warren Buffett, and publicly reaffirmed their commitment to give away the majority of their wealth.</p>
					</div>
			</div>
		</li>
	</ul>


	<ul class="regular-speakers" id="leaders">
		<li>
			<img src="assets/speakers/Aaron McKethan.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/aaron-mckethan/29/a03/166">Aaron McKethan</a></h4>
			<h5>Vice President, Strategy and Business Development at Rx Ante </h5>
		</li>

		<li>
			<img src="assets/speakers/alex_howard.jpg" width="80px" height="80px" />
			<h4><a href="#">Alex Howard</a></h4>
			<h5>Washington Correspondent for O'Reilly Media</h5>
		</li>

		<li>
			<img src="assets/speakers/Andrew Rasiej.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/andrewrasiej">Andrew Rasiej</a></h4>
			<h5>Founder, Personal Democracy Media</h5>
		</li>

		<li>
			<img src="assets/speakers/Ari Matusiak.jpg" width="80px" height="80px" />
			<h4><a href="http://www.whitehouse.gov/blog/author/Ari%20Matusiak">Ari Matusiak</a></h4>
			<h5>Vice President, Director of Private Sector Engagement at the White House</h5>
		</li>

		<li>
			<img src="assets/leaders/aneesh.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/in/apchopra">Aneesh Chopra</a></h4>
			<h5>Senior Advisor, Technology Strategy at The Advisory Board Company</h5>
		</li>

		<li>
			<img src="assets/leaders/blake.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/pub/blake-hall/1/8b6/45b">Blake Hall</a></h4>
			<h5>Co-Founder and CEO at Troopswap</h5>
		</li>

		<li>
			<img src="assets/speakers/Chris Tucker.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/christopher-tucker/9/568/559">Dr. Christopher Tucker</a></h4>
			<h5>Founder, MapStory</h5>
		</li>

		<li>
			<img src="assets/speakers/Dan Kasun.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/dan-kasun/13/438/639">Dan Kasun</a></h4>
			<h5>Senior Director, Public Sector Evangelism at Microsoft</h5>
		</li>

		<li>
			<img src="assets/speakers/Dan Yates.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/danjyates">Dan Yates</a></h4>
			<h5>CEO &amp; Founder at OPower</h5>
		</li>

		<li>
			<img src="assets/speakers/david_girouard.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/davegirouard">David Girouard</a></h4>
			<h5>Founder &amp; CEO at Upstart</h5>
		</li>

		<li>
			<img src="assets/speakers/Donna Harris.jpg" width="80px" height="80px" />
			<h4><a href="#">Donna Harris</a></h4>
			<h5>Managing Director, Startup Regions, Startup America</h5>
		</li>


		<li>
			<img src="assets/speakers/Ed Bersoff.jpg" width="80px" height="80px" />
			<h4><a href="http://www.forbes.com/profile/edward-bersoff/">Dr. Edward Bersoff</a></h4>
			<h5>Chairman, ATS Corporation</h5>
		</li>

		<li>
			<img src="assets/speakers/Erik Huey.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/erik-huey/58/84a/6b3">Erik Huey</a></h4>
			<h5>VP of Government Affairs, Entertainment Software Association</h5>
		</li>

		<li>
			<img src="assets/speakers/Eric Schultze.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/eric-schulze/1/690/830">Dr. Eric Schulze</a></h4>
			<h5>Founder and Chief Creative Nerd, Thirst DC</h5>
		</li>

		<li>
			<img src="assets/speakers/erik_kimel.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/erik-kimel/1/a71/300">Erik Kimel</a></h4>
			<h5>Chief Strategy Officer at Aristotle Circle</h5>
		</li>

		<li>
			<img src="assets/speakers/jason-putorti.jpg" width="80px" height="80px" />
			<h4><a href="http://jasonputorti.com/">Jason Putorti</a></h4>
			<h5>Co-Founder, Votizen</h5>
		</li>

		<li>
			<img src="assets/speakers/Jeff Selingo.png" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/jeff-selingo/5/83a/50">Jeff Selingo</a></h4>
			<h5>Editorial Director, The Chronicle of Higher Education</h5>
		</li>

		<li>
			<img src="assets/speakers/Larry Irvine.jpg" width="80px" height="80px" />
			<h4><a href="#">Larry Irvine</a></h4>
			<h5>Co-Founder, Mobile Alliance for Global Good.</h5>
		</li>

		<li>
			<img src="assets/speakers/Lewis Shepherd.jpg" width="80px" height="80px" />
			<h4><a href="#">Lewis Shepherd</a></h4>
			<h5>General Manager and Director, Microsoft Institute for Advanced Technology in Governments</h5>
		</li>

		<li>
			<img src="assets/speakers/kahil_byrd.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/kahlilbyrd">Kahlil Byrd</a></h4>
			<h5>CEO at Americans Elect</h5>
		</li>

		<li>
			<img src="assets/speakers/marci_harris.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/marcidale">Marci Harris</a></h4>
			<h5>Founder, CEO at POPVOX</h5>
		</li>

		<li>
			<img src="assets/speakers/Marvin Ammori.png" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/marvin-ammori/0/893/348">Marvin Ammori</a></h4>
			<h5>Board Member, Fight for the Future</h5>
		</li>

		<li>
			<img src="assets/speakers/Mark Drapeau.jpg" width="80px" height="80px" />
			<h4><a href="#">Mark Drapeau</a></h4>
			<h5>Director of Innovative Engagement (Public Sector) at Microsoft</h5>
		</li>

		<li>
			<img src="assets/leaders/nathan.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/in/nathandaschle">Nathan Daschle</a></h4>
			<h5>CEO at Ruck.us</h5>
		</li>

		<li>
			<img src="assets/leaders/peter.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/pub/peter-cherukuri/4/513/801">Peter Cherukuri</a></h4>
			<h5>GM for Politics at AOL/Huffington Post Media Group</h5>
		</li>

		<li>
			<img src="assets/speakers/Roy Schwartz.jpg" width="80px" height="80px" />
			<h4><a href="#">Roy Schwartz</a></h4>
			<h5>Chief Revenue Officer, Politico</h5>
		</li>

		<li>
			<img src="assets/speakers/Sean McElrath.jpg" width="80px" height="80px" />
			<h4><a href="#">Sean McElrath</a></h4>
			<h5>Co-Founder &amp; CEO, Hallway</h5>
		</li>

		<li>
			<img src="/assets/no-pic.png" width="80px" height="80px" />
			<h4><a href="http://www.secureforce.com/index.php?option=com_content&view=article&id=99&Itemid=87">Stefen Smith</a></h4>
			<h5>Chief Security Officer, Secure Force</h5>
		</li>

		<li>
			<img src="assets/speakers/Yoav Lurie.jpg" width="80px" height="80px" />
			<h4><a href="#">Yoav Lurie</a></h4>
			<h5>Founder and CEO, Simple Energy</h5>
		</li>

	</ul>

</div><!-- end .internal .wrap -->