<div class="wrap internal" id="summit-speakers">
	<h2>Reboot America Summit 2012 Speakers</h2>
	<img src="assets/reboot-glyph-red.png" width="113px" height="113px" class="reboot-glyph-red" />
	<p id="summit-intro">On November 8th and 9th, Reboot America will launch its inaugural summit in the afterglow of the 2012 Elections in Washington, DC. This unique time and place will give startups and corporations the opportunity to grow their networks while discussing innovative solutions to help spur business and economic growth in America.</p>

</div><!-- end .internal .wrap -->