<div class="wrap internal" id="summit-speakers">
	<h2>Reboot America Summit 2012 Speakers</h2>

	<ul class="keynote-speakers">
		<li>
			<img src="assets/speakers/steve_case.jpg" />
			<div class="speaker-detail">
				<h4>Steve Case</h4>
				<h5>Chairman and CEO, Revolution<br />
						Co-Founder, America Online<br />
						Chairman, The Case Foundation</h5>
					<p>Steve Case is one of America’s best-known and most accomplished entrepreneurs and philanthropists, and a pioneer in making the Internet part of everyday life.</p>
					<p>Steve co-founded America Online (AOL) in 1985, when the Internet was in its infancy. Under Steve’s leadership, AOL became the world’s largest and most valuable Internet company, and helped drive the worldwide adoption of a medium that has transformed business and society.  </p>
					<p>Steve then went back to his entrepreneurial roots and founded Revolution, an investment firm that has backed more than two dozen companies, including LivingSocial, Zipcar, AddThis, Everyday Health and FedBid.  </p>
					<p>Steve is also Chairman of the Case Foundation, which he established with his wife Jean.  The Case Foundation has invested in hundreds of organizations, initiatives and partnerships over the past 15 years.  Steve and Jean joined The Giving Pledge, started by Bill Gates and Warren Buffett, and publicly reaffirmed their commitment to give away the majority of their wealth.</p>

			</div>
		</li>
	</ul>


	<ul class="regular-speakers" id="leaders">
		<li>
			<img src="assets/speakers/alex_howard.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/alexanderbhoward">Alex Howard</a></h4>
			<h5>Government 2.0 Correspondent at O'Reilly Media</h5>
		</li>

		<li>
			<img src="assets/leaders/aneesh.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/in/apchopra">Aneesh Chopra</a></h4>
			<h5>Senior Advisor, Technology Strategy at The Advisory Board Company</h5>
		</li>

		<li>
			<img src="assets/leaders/blake.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/pub/blake-hall/1/8b6/45b">Blake Hall</a></h4>
			<h5>Co-Founder and CEO at Troopswap</h5>
		</li>

		<li>
			<img src="assets/speakers/david_girouard.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/davegirouard">David Girouard</a></h4>
			<h5>Founder &amp; CEO at Upstart</h5>
		</li>

		<li>
			<img src="assets/speakers/erik_kimel.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/pub/erik-kimel/1/a71/300">Erik Kimel</a></h4>
			<h5>Chief Strategy Officer at Aristotle Circle</h5>
		</li>

		<li>
			<img src="assets/speakers/kahil_byrd.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/kahlilbyrd">Kahlil Byrd</a></h4>
			<h5>CEO at Americans Elect</h5>
		</li>

		<li>
			<img src="assets/speakers/marci_harris.jpg" width="80px" height="80px" />
			<h4><a href="http://www.linkedin.com/in/marcidale">Marci Harris</a></h4>
			<h5>Founder, CEO at POPVOX</h5>
		</li>
		<li>
			<img src="assets/leaders/nathan.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/in/nathandaschle">Nathan Daschle</a></h4>
			<h5>CEO at Ruck.us</h5>
		</li>

		<li>
			<img src="assets/leaders/peter.jpg" width="80px" height="80px" />
			<h4><a href="http://linkedin.com/pub/peter-cherukuri/4/513/801">Peter Cherukuri</a></h4>
			<h5>VP, General Manager - DC Bureau at The Huffington Post</h5>
		</li>

	</ul>

</div><!-- end .internal .wrap -->