<div class="wrap internal" id="the-summit">
	<h2>Reboot America Summit 2012</h2>
	<div class="summit-overview">
		<img src="assets/reboot-glyph-red.png" width="113px" height="113px" class="reboot-glyph-red" />
		<p id="summit-intro">On November 8th and 9th, Reboot America will launch its inaugural summit in the afterglow of the 2012 Elections in Washington, DC. This unique time and place will give startups and corporations the opportunity to grow their networks while discussing innovative solutions to help spur business and economic growth in America.</p>

		
		<a href="/agenda" class="btn primary" style="float:right; padding:.5em 1em;">View the Agenda &rarr;</a>
		<a href="/speakers" class="btn alternate" style="float:right; padding:.5em 1em; margin-right:1em; ">See Who's Speaking </a>
		<a href="/leadership" class="btn alternate" style="float:right; margin-right:1em; padding:.5em 1em;">Leadership Team</a>
	</div>

	<div id="summit-details">
		<div id="summit-schedule">
			<a href="https://maps.google.com/maps?q=Ronald+Reagan+Building,+Washington,+District+de+Columbia&hl=en&ll=38.893939,-77.029159&spn=0.010588,0.020514&sll=37.6,-95.665&sspn=43.676198,84.023438&oq=Ronald+Reagan+Building+washington&hq=Ronald+Reagan+Building,+Washington,+District+de+Columbia&t=m&z=16&iwloc=A"><img src="assets/location-map.png" width="70%" style="border:1px solid rgba(0,0,0,.3)" /></a>
			<p style="margin-bottom:4em;"><strong>Ronald Reagan Building</strong><br />
					1300 Penn. Ave. NW<br />
					Washington, DC</p></p>

<!-- 			<h4>Reboot America<br />Summit Schedule</h4>

			<h5>Thur., Nov. 8, 2012</h5>
			<h6>5:00 pm to 8:00 pm</h6>
			<ul>
				<li>Welcome Reception</li>
				<li>Corporate &amp; Startup Speed Dating</li>
			</ul>

			<h5>Fri., Nov. 9, 2012</h5>
			<h6>9:00 am to 5:00 pm</h6>
			<ul>
				<li>Keynote Speaker</li>
				<li>Panel</li>
				<li>Open Innovation Series</li>
				<li>Lunch</li>
				<li>Track Breakout Sessions</li>
				<li class="track">Keynote Speaker</li>
				<li class="track">Industry Panel</li>
				<li class="track">Startup Showcase</li>
				<li>Fireside Chat with Steve Case</li>
			</ul>

			<em style="font-weight:100; font-style:italic; font-size:.9em">* separated by track</em> -->
		</div><!-- end #summit-schedule -->



		<div id="summit-content">
			<div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=4323577938&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://http://rebootamerica.eventbrite.com?ref=etckt">Reboot America Summit</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>

			
		</div><!-- end #summit-content -->
	</div><!-- end #summit-details -->
</div><!-- end .internal .wrap -->