<div class="wrap internal" id="the-summit">
	<h2><a href="http://rebootamerica.eventbrite.com" style="color:inherit; text-decoration:none;">Reboot America Summit 2012 &rarr;</a></h2>
	<img src="assets/reboot-glyph-red.png" width="113px" height="113px" class="reboot-glyph-red" />
	<p id="summit-intro">On November 8th and 9th, Reboot America will launch its inaugural summit in the afterglow of the 2012 Elections in Washington, DC. This unique time and place will give startups and corporations the opportunity to grow their networks while discussing innovative solutions to help spur business and economic growth in America.</p>

	<div id="summit-schedule">
		<h4>Reboot America<br />Summit Schedule</h4>

		<h5>Thur., Nov. 8, 2012</h5>
		<h6>5:00 pm to 8:00 pm</h6>
		<ul>
			<li>Welcome Reception</li>
			<li>Corporate &amp; Startup Speed Dating</li>
		</ul>

		<h5>Fri., Nov. 9, 2012</h5>
		<h6>9:00 am to 3:00 pm</h6>
		<ul>
			<li>Keynote Speaker</li>
			<li>Open Innovation Series</li>
			<li>Industry Panel<em>*</em></li>
			<li>Lunch</li>
			<li>Startup Pitch Showcase<em>*</em></li>
			<li>Keynote Speaker</li>
		</ul>

		<em style="font-weight:100; font-style:italic; font-size:.9em">* separated by track</em>
	</div><!-- end #summit-schedule -->

	<div id="summit-content">
		<p>Specific areas of focus for the Reboot America Summit will include:</p>
		<ul class="red-bullet">
			<li><strong>Democracy:</strong> Media, Advocacy, and Politics</li>
			<li><strong>National Challenges:</strong> Education, Health, and Energy</li>
			<li><strong>Government and Security:</strong> Federal, State, and Local Government, <br/ >National Security, Homeland Security, and Cyber Security</li>
		</ul>
		<p>The second day of the Summit will begin with a keynote speaker and then an open innovation series during which innovators will present 1-minute pitches of their latest disruptive ideas. The track-specific portion of the Summit will feature an industry panel and a startup pitch showcase. We will end the day with a closing keynote speaker.</p>
		<p>We hope you join us for this exciting opportunity to network and innovate together!</p>
		<!-- <a href="http://rebootamerica.eventbrite.com" class="btn primary">Register now for the Summit</a> -->

		<div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=4323577938&ref=etckt" frameborder="0" height="352" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://http://rebootamerica.eventbrite.com?ref=etckt">Reboot America Summit</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div></div>
	</div><!-- end #summit-content -->
</div><!-- end .internal .wrap -->