<div class="wrap internal" id="the-summit">
	<h2><a href="http://rebootamerica.eventbrite.com" style="color:inherit; text-decoration:none;">Reboot America Summit 2012 &rarr;</a></h2>
	<img src="assets/reboot-glyph-red.png" width="113px" height="113px" class="reboot-glyph-red" />
	<p id="summit-intro">On November 8th and 9th, Reboot America will launch its inaugural summit in the afterglow of the 2012 Elections in Washington, DC. This unique time and place will give startups and corporations the opportunity to grow their networks while discussing innovative solutions to help spur business and economic growth in America.</p>

	<div id="summit-schedule">
		<h4>Reboot America<br />Summit Schedule</h4>

		<h5>Thur., Nov. 8, 2012</h5>
		<h6>6:30 pm to 9:00 pm</h6>
		<ul>
			<li>Welcome Reception</li>
			<li>Corporate &amp; Startup Speed Dating</li>
			<li>Introductions and Keynote Speaker</li>
		</ul>

		<h5>Fri., Nov. 9, 2012</h5>
		<h6>9:00 am to 3:00 pm</h6>
		<ul>
			<li>Keynote Speaker<em>*</em></li>
			<li>Open Innovation Contest<em>*</em></li>
			<li>Industry Panel<em>*</em></li>
			<li>Lunch</li>
			<li>Startup Pitch Competition<em>*</em></li>
			<li>Keynote Speaker &amp; Prize</li>
			<li>Announcements</li>
		</ul>

		<em style="font-weight:100; font-style:italic; font-size:.9em">* separated by track</em>
	</div><!-- end #summit-schedule -->

	<div id="summit-content">
		<p>Specific areas of focus for the Reboot America Summit will include:</p>
		<ul class="red-bullet">
			<li><strong>Democracy:</strong> Media, Advocacy, and Politics</li>
			<li><strong>National Challenges:</strong> Education, Health, and Energy</li>
			<li><strong>Government and Security:</strong> National Security, Cyber Security, <br />and Public Sector Efficiency</li>
		</ul>
		<p>On the second day of the Summit, attendees will split up in these three “tracks” to focus on their particular area of interest. The track-specific portion of the Summit will feature a keynote speaker, an industry panel, and two pitch competitions where innovators and startups will present their newest track-specific concepts in order to receive a monetary prize at the end of the Summit.</p>
		<p>We hope you join us for this exciting opportunity to network and innovate together!</p>
		<a href="http://rebootamerica.eventbrite.com" class="btn primary">Register now for the Summit</a>
	</div><!-- end #summit-content -->
</div><!-- end .internal .wrap -->