<div class="wrap internal">
	<div class="half">
		<h2 style="margin-top:0;">Why Reboot America?</h2>
		<p>Reboot America is a national movement focusing America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</p>
		<p>America faces profound crises in critical areas—educating our children, managing our health, producing and consuming energy in a sustainable way, electing our leaders and holding them accountable to the needs of citizens, and reinventing a government that can provide cost-effective solutions that provide for our national welfare and security.</p>
		<p>The future of America depends on our generation’s ability to find bold, new solutions to these problems. Reboot America is building a community of corporate executives and entrepreneurs committed to aligning their organizations around the solutions that will determine the future of our country.</p>
		<p>If you’re an established American corporation then <a href="/get-involved">joining the Reboot America community</a> connects you directly with the ideas and energy of entrepreneurs passionate about reinventing our country. You may find your next great partner, acquisition, or competitor, enabling you to stay agile and competitive.</p>
		<p>If you’re an emerging startup then <a href="/get-inspired">joining the Reboot America community</a> connects you with established corporations with the reach to accelerate your idea forward. You may find your first customer, a key partner, an acquirer, or competitor.</p>
		<p>If you’re a citizen, then Reboot America enables you to <a href="#">make your voice heard via Patriotic.ly</a>, a virtual think tank for citizen innovators. Submit your ideas, discuss ideas, and vote on the best, so that we can highlight and support them!</p>

		<h2 id="reboot-america-initiative">What Is Reboot America?</h2>
		<p>Reboot America is a national movement to focus America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</p>
		<p>America faces profound crises in critical areas—educating our children, managing our health, producing and consuming energy in a sustainable way, electing our leaders and holding them accountable to the needs of citizens, and reinventing a government that can provide cost-effective solutions that provide for our national welfare and security.</p>
		<p>The future of America depends on our generation’s ability to find bold, new solutions to these problems. Reboot America is building a community of citizens, entrepreneurs, and corporate executives committed to aligning their organizations around the solutions that will determine the future of our country.</p>
	</div><!-- end .half -->

	<div class="half">
		<h2 style="margin-top:0;">Participants</h2>
		<ul class="participants">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

		<h2>Sponsors</h2>
		<ul class="sponsors">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

		<h2>Leadership Team</h2>
		<p>The Reboot America team includes leaders from established corporations and emerging startups. The Reboot America leaders are committed to leveraging their expertise, experience, and personal networks to build a new community committed to reinventing America.</p>
		<ul id="leaders">
			<li>
				<img src="" width="120px" height="120px" />
				<h3>Evan Burfield</h3>
				<p>Evan is passionately committed to turning the D.C. region into the center of entrepreneurial efforts to reinvent America. A serial entrepreneur, Evan is the chairman of Startup DC, the Chairman and Founder of Synteractive, a Mentor and Limited Partner with The Fort, and Chairman of Hallway, a social learning network.</p>
				<p>Evan’s community leadership flows from his belief in entrepreneurship as the engine for solving the major problems facing America and the world today -- from education and energy efficiency. As chairman of Startup DC, part of the Startup America Partnership, he has pioneered bold initiatives for expanding startup activity in these areas, such as K Street Capital and Reboot America. Evan also works closely with aspiring entrepreneurs through venture acceleration within high schools.</p>
		</ul>	
	</div><!-- end .half -->
</div><!-- end .internal .wrap -->