<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content">
		<h3 class="intro">The Reboot America team includes leaders from established corporations and emerging startups.</h3>
		<p class="intro">The Reboot America leaders are committed to leveraging their expertise, experience, and personal networks to build a new community committed to reinventing America.</p>
	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->