<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content">
		<h3 class="intro">The Reboot America team includes leaders from established corporations and emerging startups.</h3>
		<p class="intro">The Reboot America leaders are committed to leveraging their expertise, experience, and personal networks to build a new community committed to reinventing America.</p>

		<ul id="leaders">
			<li>
				<img src="assets/leaders/evan.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/eburfield">Evan Burfield</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/donna.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/donna-harris/4/737/a59">Donna Harris</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/derek.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/derek-holt/3/a92/181">Derek Holt</a></h4>
				<p></p>
			</li>

			<li>
				<img src="assets/leaders/brittany.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/brittanyheyd">Brittany Heyd</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/lisa.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/lisathrockmorton">Lisa Throckmorton</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/kim.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/kim-hart/5/78a/b65">Kim Hart</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/mark.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/markdrapeau">Mark Drapeau</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/peter.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/peter-cherukuri/4/513/801">Peter Cherukuri</a></h4>
				<p></p>
			</li>

			<li>
				<img src="assets/leaders/nathan.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/nathandaschle">Nathan Daschle</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/blake.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/blake-hall/1/8b6/45b">Blake Hall</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/aneesh.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/apchopra">Aneesh Chopra</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/brandon.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/brandon-pollak/27/318/51">Brandon Pollack</a></h4>
				<p></p>
			</li>

			<li>
				<img src="assets/leaders/roy.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/royschwartz">Roy Schwartz</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/claire.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/claire0h">Claire Lee</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/alessandra.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/alessandra-carozza/1a/bbb/642">Alessandra Carozza</a></h4>
				<p></p>
			</li>
			<li>
				<img src="assets/leaders/alexa.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/pub/alexa-raducanu/8/aa6/7a6">Alexa Raducanu</a></h4>
				<p></p>
			</li>

			<li>
				<img src="assets/leaders/rebecca.jpg" width="80px" height="80px" />
				<h4><a href="http://linkedin.com/in/rebeccamark">Rebecca Mark</a></h4>
				<p></p>
			</li>
		</ul>	
	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->