<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content">
		<h3 class="intro">Reboot America is a national movement focusing America’s leading corporations and emerging startups on innovative solutions to our country’s greatest challenges.</h3>
		<p class="intro">America faces profound crises in critical areas—educating our children, managing our health, producing and consuming energy in a sustainable way, electing our leaders and holding them accountable to the needs of citizens, and reinventing a government that can provide cost-effective solutions that provide for our national welfare and security.</p>
	
		<ul class="audience-groups">
			<li>
				<img src="assets/citizen.png" width="120px" height="120px" />
				<p>If you’re <strong>a citizen</strong>, make your voice heard via Patriotic.ly, a virtual think tank for citizen innovators. Submit your ideas, discuss ideas, and vote on the best, so that we can highlight and support them!</p>
				<a href="http://patriotic.ly" class="btn alternate" target="_blank">Get Inspired<span>Pitch in with your ideas</span></a>
				<div style="clear:both;"></div>
			</li>

			<li>
				<img src="assets/startup.png" width="120px" height="120px" />
				<p>If you’re <strong>an emerging startup</strong>, apply to pitch your idea at the Reboot America Summit to connect with established corporations with the reach to accelerate your idea forward. You may find your first customer, a key partner, an acquirer, or competitor.</p>
				<a href="http://www.patriotic.ly/Page/InnovationMarket" class="btn alternate" target="_blank" style="margin-top:1em;">Apply to Pitch<span>Pitch your idea on Patriotic.ly</span></a>
				<div style="clear:both;"></div>
			</li>

			<li>
				<img src="assets/corporation.png" width="120px" height="120px" />
				<p>If you’re <strong>an established American corporation</strong>, attend the Reboot America Summit to learn about the ideas and energy  of entrepreneurs passionate about reinventing our country. You may find your next great partner, acquisition, or competitor, enabling you to stay agile and competitive. You can also become a partner by funding a startup pitch competition prize at the Reboot America Summit. </p>
				<a href="/partners" class="btn alternate" style="margin-top:1em;">Become a partner<span>Partnerships bring growth</span></a>
				<div style="clear:both;"></div>
			</li>

		</ul>

	</div>	

</div><!-- end .internal .wrap -->