<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content" id="partners">
		<h3 class="intro">Your company can play a major role in finding your next great idea from a pool of energized innovators. </h3>
		<p class="intro">This incredible entrepreneurial opportunity cannot exist without your help. Please join Reboot America in finding the next game changer. If your company is interested in becoming a Reboot America partner, please e-mail <a href="mailto:info@startupdc.us">info@startupdc.us</a></p>

	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->