<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content" id="partners">
		<h3 class="intro">Your company can play a major role in finding your next great idea from a pool of energized innovators. </h3>
		<p class="intro">This incredible entrepreneurial opportunity cannot exist without your help. Please join Reboot America in finding the next game changer.</p>

		<h4><a href="mailto:info@startupdc.com?subject=We are interested in being 'Corporate Innovators'">The $2,000 "Corporate Innovator" Package &rarr;</a></h4>
		<ul class="red-bullet">
			<li>Your logo featured in the Reboot America Summit program book</li>
			<li>5 tickets to the 2012 Reboot America Summit</li>
			<li>VIP Access to 2013 Reboot America leadership retreats</li>
		</ul>
	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->