<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content">
		<h3 class="intro">Your company can play a major role in finding your next great idea from a pool of energized innovators. </h3>
		<p class="intro">This incredible entrepreneurial opportunity cannot exist without your help. Please join Reboot America in finding the next game changer. If your company is interested in becoming a Reboot America partner, please e-mail <a href="mailto:info@startupdc.us">info@startupdc.us</a></p>

		<h3>Media Partners</h3>
		<ul id="media-partners">
			<li style="margin-right:1em;"><a href="http://inthecapital.com"><img src="/assets/partners/inTheCapital-logo-312x120.png" /></a></li>
			<li><a href="http://tech.co"><img src="/assets/partners/techCocktail-logo-312x120.png" /></a></li>
		</ul>

	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->