<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content">
		<h3 class="intro">The Reboot America Summit features two pitch competitions where innovators and startups will present their newest concepts in order to receive a monetary prize at the end of the Summit.</h3>
		<p class="intro">Your company can fund one of these prizes and play a major role in finding your next great idea from a pool of energized innovators. This incredible entrepreneurial opportunity cannot exist without your help. Please join Reboot America in finding the next “game changer.”</p>
	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->