<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content" id="partners">
		<h3 class="intro">The Reboot America Summit features two pitch competitions where innovators and startups will present their newest concepts in order to receive a monetary prize at the end of the Summit.</h3>
		<p class="intro">Your company can fund one of these prizes and play a major role in finding your next great idea from a pool of energized innovators. This incredible entrepreneurial opportunity cannot exist without your help. Please join Reboot America in finding the next “game changer.”</p>

		<h4><a href="mailto:info@startupdc.com?subject=We are interested in being 'Game Changers'">The $15,000 "Game Changer” Package &rarr;</a></h4>
		<ul class="red-bullet">
			<li>$15,000 Startup Pitch Competition Grand Prize named after your company and the opportunity to present your prize and participate in an industry panel</li>
			<li>Your logo featured as a “platinum prize sponsor” in the Reboot America Summit program book</li>
			<li>10 tickets to the 2012 Reboot America Summit</li>
			<li>VIP Access to 2013 Reboot America leadership retreats</li>
		</ul>

		<h4 class="blue"><a href="mailto:info@startupdc.com?subject=We are interested in being 'Corporate Innovators'">The $5,000 “Corporate Innovator” Package &rarr;</a></h4>
		<ul class="blue-bullet">
			<li>$5,000 Startup Pitch Competition Prize or two $2,500 Open Innovation Competition Prizes named after your company and the opportunity to present your prize</li>
			<li>Your logo featured as a “gold prize sponsor” in the Reboot America Summit program book</li>
			<li>10 tickets to the 2012 Reboot America Summit</li>
			<li>VIP Access to 2013 Reboot America leadership retreats</li>
		</ul>
	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->