<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content" id="partners-page">
		<h3>Media Partners</h3>
		<ul id="media-partners" class="partners-list">
			<li style="margin-right:1em;"><a href="http://inthecapital.com"><img src="/assets/partners/inTheCapital-logo-312x120.png" /></a></li>
			<li><a href="http://tech.co"><img src="/assets/partners/techCocktail-logo-312x120.png" /></a></li>
		</ul>

		<h3>Corporate Partners</h3>
		<ul id="corporate-partners" class="partners-list">
			<li style="margin-right:1em;"><a href="http://www.engagedc.com/"><img src="/assets/partners/engage-logo-312x120.png" /></a></li>
			<li><a href="http://www.neustar.biz/"><img src="/assets/partners/neustar-logo-312x120.png" /></a></li>
		</ul>

	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->