<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content" id="partners-page">
		<h3 style="margin-top:0;">$5,000 Cash Prize Sponsor</h3>
		<ul id="cash-partners" class="partners-list cf">
			<!-- CEA Innovation Movement -->
			<li style="margin-right:1em;"><a href="http://www.ce.org/"><img src="/assets/partners/cea-logo-312x120.png" /></a></li>
		</ul>

		<h3>Travel Prize Sponsor</h3>
		<ul id="travel-partners" class="partners-list cf">
			<!-- American Airlines -->
			<li style="margin-right:1em;"><a href="http://www.aa.com/"><img src="/assets/partners/aa-logo-312x120.png" /></a></li>
		</ul>

		<h3>Corporate Partners</h3>
		<ul id="corporate-partners" class="partners-list cf">
			<li style="margin-right:1em;"><a href="http://www.engagedc.com/"><img src="/assets/partners/engage-logo-312x120.png" /></a></li>
			<li><a href="http://www.neustar.biz/"><img src="/assets/partners/neustar-logo-312x120.png" /></a></li>
			<!-- OPower -->
			<li style="margin-right:1em;"><a href="http://www.opower.com"><img src="/assets/partners/opower-logo-312x120.png" /></a></li>
			<!-- Glen Echo Group -->
			<li><a href="http://www.linkedin.com/company/glen-echo-group-llc"><img src="/assets/partners/glenecho-logo-312x120.png" /></a></li>
		</ul>

		<h3>Community Partners</h3>
		<ul id="media-partners" class="partners-list cf">
			<li style="margin-right:1em;"><a href="http://inthecapital.com"><img src="/assets/partners/inTheCapital-logo-312x120.png" /></a></li>
			<li><a href="http://tech.co"><img src="/assets/partners/techCocktail-logo-312x120.png" /></a></li>
			<!-- Social Tables -->
			<li><a href="http://socialtables.com"><img src="/assets/partners/socialtables-logo-312x120.png" /></a></li>
		</ul>

	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->