<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content">
		<div id="global-sponsors">
			<h3 style="margin-bottom:1em;">Global Sponsors</h3>
			<ul>
				<li>
					<img src="assets/sponsors/microsoft.png" width="314px" height="80px"/>
					<p>Microsoft Corporation encourages and supports entrepreneurs through its several tailored programs and offers. These programs include Microsoft BizSpark, BizSpark Plus, and 30 to Launch.</p>
	 
					<p>Microsoft BizSpark is a global program that helps software startups succeed by giving them access to software development tools, connecting them with key industry players, and providing marketing visibility. </p>

					<p>The BizSpark Plus Program is Microsoft’s signature program for startups, which it offers to startups who participate in Incubator or Accelerator programs offered by BizSpark Plus Partners. Through this offer, startups will get up to $60,000 of value over two years and access to Windows Azure, a simple, reliable, and powerful cloud-computing platform for hosting applications and creating web applications and services. </p>

					<p>Finally, Microsoft offers the program “30 to Launch” to startups to help build Windows 8 Apps.</p>
				</li>

				<li>
					<img src="assets/sponsors/verizon.png" width="314px" height="80px" style="margin-right:0;"/>
					<p>Verizon is a global leader in delivering broadband, wireline and wireless communication services to business, consumer, government and wholesale customers.</p>

				<p>The company offers businesses voice, data, and video services as well as cloud and security solutions. As a committed corporate citizen, we believe that businesses and individuals empowered by technology can change the world. This belief fuels Verizon’s commitment to providing business owners with the tools and solutions needed to succeed and grow.</p>

				<p>With that in mind, Verizon launched its business to business networking application, WeCommerce.  Verizon WeCommerce is a new way for businesses to work together and help them partner with other business owners.  Whether promoting products and services or joining together for new opportunities, businesses can connect with businesses in their area and around the country to find the deals that work for them.</p>

				<p>We understand that it takes a tight budget, persistence, resources and a creative mind to keep a small business on track. To keep up in a changing economy, we all need to think differently about the way we do business.  We create solutions with that in mind and we perpetually challenge ourselves to enable, advance, and pave the way for new possibilities across a variety of industries.</p>
				</li>
			</ul>
		</div><!-- end #global-sponsors -->

		<div id="community-sponsors">
			<h3>Community Sponsors</h3>
			<ul>
				<li>
					<img src="assets/sponsors/startup-america.png" width="314px" height="80px"/>
					<p>The Startup America Partnership is a growing national movement of thousands of founders, experts and resources providing startups access to the corporations, investors, and services they need to grow. Launched at the White House in early 2011, the Partnership brings together startups and local champions from around the country focused on creating successful networks for young, high-growth companies to thrive.</p>

					<p>AOL co-founder Steve Case chairs the Partnership and the Kauffman and Case Foundations are its founding partners. American Airlines, American Express OPEN, Dell Inc., Intuit Inc., Microsoft and NYSE Euronext are corporate sponsors.</p>
				</li>

				<li>
					<img src="assets/sponsors/nyse.png" width="314px" height="80px" style="margin-right:0;"/>
					<p>NYSE Euronext (NYX), a leading global operator of financial markets and a provider of innovative trading technologies, is the only exchange operator in the Fortune 500. With exchanges in the US and Europe, NYSE Euronext equities marketplaces represent one-third of equities trading worldwide.</p>

					<p>NYSE Euronext is also one of the world’s leading futures and options trading venues, with four markets based in the US and Europe offering derivatives on commodities, FX, equities, bonds, interest rates, indices and swaps.</p>
				</li>
			</ul>
		</div>
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->