<div class="wrap internal">
	<div class="side-nav">
		<ul>
			<li><a href="/mission">Mission</a></li>
			<li><a href="/leadership">Leadership</a></li>
			<li><a href="/partners">Partners</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
		</ul>
	</div>

</div><!-- end .internal .wrap -->