<div class="wrap internal">
	<div class="side-nav">
		<%= render 'layouts/subnavigation' %>
	</div>

	<div class="what-is-content">
		
	
	</div><!-- end .what-is-content -->
</div><!-- end .internal .wrap -->