// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
	width:100%;
	background:rgba(0,0,0,1);
	height: 45px;

	ul { 
		list-style: none;
		text-align: right;
		float:right;
		margin-top: 18px;
	}
	
	li {
		display:inline-block;
		text-transform: uppercase;
		color: white;
		margin-left: 2em;
	}
}