$darkBlue: #061E3E;
$darkYellow: #FBB03B;

h1, h2, h3 { text-transform: uppercase; margin-bottom: .5em; }

h1 { font-size: 48px; }
h2 { font-size: 34px; }
h3 { font-size: 26px; }

nav {
	width:100%;
	background:rgba(0,0,0,1);
	height: 45px;

	ul { 
		list-style: none;
		text-align: right;
		float:right;
		margin-top: 18px;
	}
	
	li {
		display:inline-block;
		text-transform: uppercase;
		color: white;
		margin-left: 2em;
	}
}

p {
	font-size: 15px;
}

.btn {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}

header#reboot-problems {
	padding-top: 4em;
	min-height: 240px;
	
	p {
		font-size: 32px;
	}
}

#home-event-highlight {
	width:100%;
	background:  $darkBlue;
	padding: 2em 0;
}

.event-register {
	background: $darkYellow;
	color: $darkBlue;
	width:245px;
	padding: 1em;
	display: inline-block;

	
	a {
		background: $darkBlue;
		width: 100%;
		text-align: center;
		color: $darkYellow;
		font-size: 24px;
		padding: .5em 0;
		margin-top: .5em;
	}
}

.event-copy {
	position: relative;
	top:-50px;
	left:24px;
	display: inline-block;
	width: 490px;
	color: white;
}

.reboot-copy {
	width: 524px;
	position: relative;

	p { width:490px; }
}

#home-democracy, 
#home-national-challenges,
#home-government {
	padding: 4em;
}