/*------------------------------------*\
  SASS Variables and Mixins
\*------------------------------------*/

$darkBlue: #061E3E;
$lightBlue: #2C96D1;

$darkYellow: #FBB03B;
$lightGray: #E6E6E6;

$darkRed: #BD2034;
$lightRed: #F41952;

$newRed: #b03530;
$newBlue: #27384c;

/*------------------------------------*\
  Global styles
\*------------------------------------*/

body {
	line-height: 1.337;
	color: #333;
	background:rgba(250,250,250,1);
}

h1, h2, h3, h4 { text-transform: uppercase; margin-bottom: .25em; color:$darkBlue; line-height:1; }

h1 { font-size: 48px; }
h2 { font-size: 34px; }
h3 { font-size: 26px; }
h4 { color: white; }

h3 a { text-decoration:none; &:hover{ text-decoration:underline;}}

strong { font-weight:bold;}

nav {
	width:100%;
	background:#222;
	height: 66px;
	border-bottom:1px solid rgba(0,0,0,1);
	box-shadow:inset 0 -1px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.9);

	#reboot-logo {
		display:inline-block;
		margin-top: 9px;
	}

	ul { 
		list-style: none;
		text-align: right;
		float:right;
		margin-top: 26px;
	}
	
	li {
		position:relative;
		display:inline-block;
		text-transform: uppercase;
		color: white;
		margin-left: 2em;
		padding-bottom:10px;

		a { color: white; text-decoration: none; &:hover { text-decoration:underline; } }
	}

	.dropdown-nav { 
		width:100px;
		position:absolute;
		top:-8px;
		left:-12px;
		background:white;
		border:1px solid rgba(0,0,0,.9);
		box-shadow:0 0 4px rgba(0,0,0,.5);
		border-radius:3px;
		
		padding:1em 1em .8em;
		text-align:left;
		display:none;

		li { margin:0; line-height:2; padding:0; width:100%; }
		li a {
			color:#333;
			display:block;
			&:hover{ color:$newRed; text-decoration:underline;}
		}
	}

	.navigation > li:hover .dropdown-nav { display:block; }
	.dropdown-nav:before {
		content:"";
		display:block;
		position:absolute;
		top:-.4em;
		left:24px;
		width:0;
		border-width:0px 7px 7px;
		border-style:solid;
		border-color:white transparent;
	}
}

p {
	font-size: 15px;
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	text-align:center;
	border:1px solid rgba(0,0,0,.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(255,255,255,.2);
	padding: .75em 2em;
	font-size: 18px;
	color: white;
	border-radius: 3px;

	&:active { box-shadow: inset 0 2px 3px rgba(0,0,0,.3), 0 1px 2px rgba(255,255,255,.1); }

	span {
		font-size:10px;
		font-family:"museo", sans-serif;
		font-weight:500;
		display:block;
		text-align:center;
	}
}

.primary { background: $newRed; text-shadow:0 1px 1px rgba(0,0,0,.4);}
.alternate { background: $newBlue; text-shadow:0 1px 1px rgba(0,0,0,.4);}

.summit-header {
	background:$newRed;
	background:url('subtlenet2-red.png') repeat;
	border:1px solid rgba(0,0,0,.6);
	box-shadow: 0 1px 1px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.2);
	color:white;
	text-shadow:0 1px 1px rgba(0,0,0,.4);
	line-height:1.2;
	padding:1.5em 0;
	border-top:none;

	h3 { 
		color:white;
		font-size:20px;
		font-weight:500;
		margin-bottom:.2em;
	}

	aside {
		text-transform:uppercase;
		font-size:16px;
	}

	time {
		font-size: 16px;
		font-weight:300;
		font-family: "museo";
	}

	.btn { vertical-align: top; padding:.5em .8em; }
}

footer {
	clear: both;
	color: white;
	background: #111;
	min-height: 200px;
	margin-bottom: -1em;
	margin-top: 2em;
	padding-top: 2em;
	border-top:1px solid black;
	box-shadow: inset 0 1px 1px rgba(255,255,255,.4);

	ul.blue-stripes li { border-left: 2px solid $lightBlue; }
	ul.red-stripes li { border-left: 2px solid $lightRed; }

	li {
		position: relative;
		padding-left:.5em;
		margin-bottom: .5em;
		-webkit-transition: all .25s linear;
						transition: all .25s linear;

		&:hover { 
			left:5px; 
			-webkit-transition: all .25s linear;
							transition: all .25s linear;
		}

		a {
			color: white;
			text-decoration: none;
			display: block;
		}
	}

	.fourth {
		display: inline-block;
		width: 22%;
		margin-right: 2em;
		vertical-align: top;
	}
}

.half {
	display: inline-block;
	width:47%;
	margin-right: 1em;
	vertical-align: top;

	p { margin-bottom: 1em;}
}

.omega { margin-right: 0 !important; }


/*------------------------------------*\
  Home Page styles
\*------------------------------------*/

#featured-speakers-home{
	background:#222222;
	padding:1em 0 .6em;
	border-bottom:1px solid rgba(0,0,0,.5);
	box-shadow:inset 0 1px 0px rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.3);

	.speaker-box {
		display:inline-block;
		width:50px;
		height:50px;
		position:relative;
		margin-right:1em;
	}

	.speaker-box-details {
		display:none;
		position:absolute;
		top:80%;
		left:0;
		background:white;
		border:1px solid rgba(0,0,0,.6);
		box-shadow:0 0 4px rgba(0,0,0,.3);
		padding:.5em;
		font-size:.8em;
		text-align:center;
		border-radius:3px;
		text-transform:uppercase;
		margin:0;
		font-weight:bold;
		z-index:2;
	}

	.speaker-box:hover .speaker-box-details { display:block; }

	img {  
		display:inline-block;
		margin-right:1em;
		border:1px solid rgba(0,0,0,.8);
		box-shadow:0 0 4px rgba(0,0,0,.6);
	}

	h3 { 
		display:inline-block; 
		vertical-align:top; 
		font-size:1.5em; 
		padding-top:.75em;
		color:white;
		a { color:white; text-decoration:underline; }
	}
}

#what-is-reboot {
	background:$newBlue;
	padding:2em 0 4em;

	img { display:inline-block; position:relative; top:20px; margin-right:2em; }

	h2 {
		display:inline-block;
		font-family:"museo", serif;
		color:white;
		text-transform:none;
		line-height:1.6;
		font-size:26px;
		font-weight:100;
		text-shadow:0 1px 0 rgba(0,0,0,.5);
		width:690px;

		strong { font-weight:500;}
	}
}

#reboot-video {
	margin:6em auto 2em; 
	border-bottom:1px solid rgba(0,0,0,.2);
	padding-bottom:6em;

	#trailer {
		display:block; 
		width:640px; 
		height:360px;
		margin:0 auto;
	}
}

#stats-slider {
	margin:6em 0;
	
	img {
		border:1px solid rgba(0,0,0,.6);
		box-shadow:inset 0 1px 2px rgba(255,255,255,.6), 0 1 1px rgba(0,0,0,.4);
		border-radius:3px;
		margin-right:2em;
		width:238px;
		float:left;
	}

	h4 {
		font-size:24px;
		font-weight:bold;
		color:#333333;
		display:inline-block;
		width:565px;
		vertical-align:top;
		margin-bottom:1em;
	}

	p {
		display:inline-block;
		vertical-align:top;
		width:565px;
		font-size:20px;
		font-family:"museo",sans-serif;
		margin-bottom:1em;
	}
	a.btn {
		display:inline-block;
		width:200px;
	}
}


/*------------------------------------*\
  Internal Page Styles
\*------------------------------------*/


.internal {
	margin-top:4em;
}

.internal p {
	margin-bottom:1em;
	line-height:1.337;
}

.internal h2 {
	font-size:36px;
	font-weight:bold;
	margin-bottom:1.5em;
}

/*------------------------------------*\
  What Is Reboot - subpages styles
\*------------------------------------*/

.side-nav {
	width:230px;
	display:inline-block;
	vertical-align:top;
	margin-right:3em;


	ul {
		background:rgba(0,0,0,.1);
		border-radius:3px;

		li a {
			font-weight:400;
			text-transform:uppercase;
			font-size:24px;
			padding:0;
			padding-left:1em;
			padding-bottom:.5em;
			color:$newBlue;
			text-decoration:none;
			display:block;
			text-shadow:0 1px 0 rgba(255,255,255,.4);

			&:first-child { padding-top:.5em; }
			&:hover { background: rgba(0,0,0,.1); }

			&.current { 
				background: $newBlue; 
				color:white; 
				box-shadow:inset 0 1px 4px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.8);
				text-shadow:0 1px 1px rgba(0,0,0,.5);
			}
		}
	}


}



.what-is-content {
	display:inline-block;
	vertical-align:top;
	width:640px;
	margin-bottom:6em;
}

	h3.intro { 
		font-size:24px;
		font-weight:600;
		text-transform:none;
		line-height:1.3;
		color:#333;
		margin-bottom:1.5em;
	}

	p.intro {
		font-family:"museo",serif;
		font-size:18px;
		font-weight:300;
		margin-bottom:4em;
	}

	.audience-groups li {
		background:rgba(200,200,200,.1);
		border-radius:3px;
		padding:1.5em;
		margin-bottom:1.5em;
		box-shadow:inset 0 0px 2px rgba(0,0,0,.3);
	}

	.audience-groups img {
		border:1px solid rgba(0,0,0,.5);
		box-shadow:0 0 4px rgba(0,0,0,.3);
		margin-right:1em;
	}

	.audience-groups p {
		display:inline-block;
		width:460px;
		vertical-align:top;
		font-size:18px;
		margin-bottom:.5em;
		font-family:"museo", serif;
	}

	.audience-groups a {
		float:right;
		padding: 0.3em 3em;
	}


#global-sponsors img, #community-sponsors img { margin-bottom:1em; }

#global-sponsors { margin-left: -1em; }

#global-sponsors li {
	width:310px;
	display:inline-block;
	vertical-align:top;
	margin-right:1em;
}

#community-sponsors {
	margin-left:-1em;
}

#community-sponsors h3 {
	margin:2em 0;
	color:$newRed;
	font-size:18px;
	font-weight:bold;
}

#community-sponsors li {
	width:310px;
	display:inline-block;
	vertical-align:top;
	margin-right:1em;
}

#partners h4 {
	font-size:18px;
	font-weight:600;
	margin-bottom:1.5em;

	a { color: $newRed; text-decoration:none;}
	a:hover { text-decoration:underline; }

	&.blue a {
		color:$newBlue;
	}
}

#partners ul { font-size:18px; line-height:1.2; margin-bottom:4em;}
#partners ul li { margin-bottom:2em; vertical-align:top; padding-left:1em;}

ul#media-partners {
	margin:0;

	li {
		margin:0;
		padding:0;
		list-style:none;
		float:left;
		width:300px;
	}

	li img { width:100%; border:1px solid rgba(0,0,0,.5); box-shadow:0 1px 3px rgba(0,0,0,.3);}
}

ul.red-bullet { margin-left: 2em; list-style-image: url("bullet-red.png");}
ul.blue-bullet { margin-left: 2em; list-style-image: url("bullet-blue.png");}

ul#leaders {
	li {
		width:158px;
		text-align:center;
		display:inline-block;
		vertical-align:top;
		padding:1em 1em .25em 1em;

		img { 
			display:block; 
			margin:0 auto 1em; 
			border:1px solid rgba(0,0,0,.1);
			box-shadow:0 1px 2px rgba(0,0,0,.3);
			padding:.5em;
			background:white;
			border-radius:3px;
		}

		a { 
			color:$newBlue; 
			text-decoration:none; 

			&:hover { text-decoration:underline;}
		}
	}
}


/*------------------------------------*\
  The Summit page
\*------------------------------------*/

.reboot-glyph-red {
	width:113px;
	margin-right:3em;
	display:inline-block;
	position:relative;
	top:-10px;
}

#summit-overview {
	display:block;
	margin-bottom:5em;
}

#summit-intro {
	font-size:18px;
	font-family:"museo", sans-serif;
	font-weight:300;
	display:inline-block;
	width:726px;
	line-height:1.4;
	vertical-align:top;
}

#summit-details { clear:both; padding-top:6em;}

#summit-schedule {

	display:inline-block;
	width:240px;
	text-align:right;
	line-height:1.6;
	margin-right:4em;

	h4 {
		font-weight:bold;
		font-size:14px;
		color:#333;
		margin-bottom:2em;
	}

	h5 {
		font-size:14px;
		font-weight:600;
		text-transform:uppercase;
	}

	h6 {
		font-family:"museo",sans-serif;
		font-size:12px;
		font-weight:300;
		margin-bottom:.5em;
	}

	ul { 
		margin:1.2em 0 2.5em;
		font-weight:100;

		li { 
			margin-bottom:.5em; 
			border-right: 0.2em solid rgba(150,150,150,.2); 
			padding-right: 1em; 
		}
	}
	.track { border-color:$newRed; }
	em { color: $newRed; }
}

#summit-content {
	display:inline-block;
	vertical-align:top;
	width:600px;
	margin-bottom:6em;

	p, ul { font-size:18px; margin-bottom:2em;  }
	strong { font-weight:bold; }

	ul { margin-left: 2em; list-style-image: url("bullet-red.png");}
	li {  margin-bottom:1em; padding-left:1em; }
}


/*------------------------------------*\
  Speakers page
\*------------------------------------*/

.keynote-speakers { margin-bottom:4em; }
.keynote-speakers img { 
	display:inline-block; 
	margin-right:2em; 
	border:1px solid rgba(0,0,0,.7);
	box-shadow:0 1px 3px rgba(0,0,0,.3);
}

.speaker-detail { 
	display:inline-block; 
	vertical-align:top;
	width:450px;

	h4 { color:$newRed; font-size:2em; font-weight:bold;}
	h5 { font-size:1.2em; margin-bottom:1em; font-style:italic;}

}
.regular-speakers h4 { font-weight:bold;}
.regular-speakers h5 { font-size:1em;}

/*------------------------------------*\
  Agenda page
\*------------------------------------*/
#agenda .table { margin-bottom:4em; }
#agenda h3 { margin-bottom:1em; }
#agenda h4 { color:#333; margin-bottom:1em; }
#agenda a.breakout { color:$newBlue; font-weight:bold;}
#agenda i { font-style:italic; color:$newBlue;}
/*------------------------------------*\
  Get Inspired page
\*------------------------------------*/

.patrioticly-icons .icon-list {

	li {
		width:204px;
		display:inline-block;
		vertical-align:top;
		margin:0 1em 1em 0;
		border:1px solid rgba(0,0,0,.3);
		border-radius:4px;
		text-align:center;
		padding:.5em .5em 0 .5em;
	}

	a { text-decoration:none; color:inherit; display:block; 
		&:hover { text-decoration:underline; }
	}

	img { display:block; margin:0 auto 1em; }

	h4 { font-size:14px; color:#333; display:block; font-weight:bold;}
}

.inspired p { text-align:justify; text-justify:inter-word; }
.inspired p strong { color: $newRed; }


/*------------------------------------*\
  Patrioticly page
\*------------------------------------*/
.patrioticly-content {
	font-family:"Museo", serif;

	ul li { vertical-align:top; margin-bottom:1em;}
	strong, p, ul { font-size: 18px; }
	a.btn { padding:.5em 5em;}
}

