<a href="/" id="reboot-logo"><img src="assets/RebootAmerica-logo-white-web.png" width="177px" height="46px" /></a>

<ul class="navigation">
	<li>
		<a href="/what-is-reboot">What Is Reboot?</a>
		<ul class="dropdown-nav">
			<li><a href="/what-is-reboot">Our Mission</a></li>
			<li><a href="/leadership">Leadership</a></li>
			<li><a href="/partners">Partners</a></li>
			<li><a href="/sponsors">Sponsors</a></li>
		</ul>
	</li>
	<li>
		<a href="/the-summit">The Summit</a>
		<ul class="dropdown-nav">
			<li><a href="/speakers">Speakers</a></li>
		</ul>
	</li>
	<li><a href="/get-inspired">Get Inspired</a></li>
	<li><a href="/get-involved">Get Involved</a></li>
	<li><a href="http://blog.rebootamerica.org">Blog</a></li>
</ul>	