<a href="/" id="reboot-logo"><img src="assets/RebootAmerica-logo-white-web.png" width="177px" height="46px" /></a>

<ul>
	<li><a href="/what-is">What Is Reboot?</a></li>
	<li><a href="/get-involved">Get Involved</a></li>
	<li><a href="/get-inspired">Get Inspired</a></li>
	<li><a href="/meet-us">Meet Us</a></li>
	<li><a href="http://rebootamerica.tumblr.com">pageBlog</li>
</ul>	