<a href="/"><img src="reboot-logo" id="reboot-logo" width="300px" height="36px" /></a>

<ul>
	<li><a href="/what-is">What Is Reboot?</a></li>
	<li><a href="/get-involved">Get Involved</a></li>
	<li><a href="/get-inspired">Get Inspired</a></li>
	<li><a href="/meet-us">Meet Us</a></li>
	<li>Blog</li>
</ul>	