<ul>
	
	<li><a href="/mission" <% if params[:action] == "what_is_reboot/mission" %> class="current" <% end %>>Our Mission</a></li>
	<li><a href="/leadership" <% if params[:action] == "what_is_reboot/leadership" %> class="current" <% end %>>Leadership</a></li>
	<li><a href="/partners" <% if params[:action] == "what_is_reboot/partners" %> class="current" <% end %>>Partners</a></li>
	<li><a href="/sponsors" <% if params[:action] == "what_is_reboot/sponsors" %> class="current" <% end %>>Sponsors</a></li>
</ul>